<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Evesic</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        </ul>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <% if user_signed_in? %>
          <div class="d-flex">
            <li><%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "btn btn-outline-light me-2" %></li>
            <%# <button type="button" class="btn btn-warning">Sign-up</button> %>
            <li><%= link_to current_user.nickname, '#', class: "btn btn-danger" %></li>
          <% else %>
          <div class="d-flex">
            <li><%= link_to 'Login', new_user_session_path, class: "btn btn-outline-light me-2" %></li>
            <%# <button type="button" class="btn btn-warning">Sign-up</button> %>
            <li><%= link_to 'Sign-up', new_user_registration_path, class: "btn btn-warning" %></li>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>