.eventuser_btn {
  text-decoration: none;
  color: rgb(99, 99, 99);
}

.event_title{
  margin-bottom: 30px;
  margin-top: 50px;
}

.event_place{
  margin-bottom: 20px;
}

.event_date{
  margin-bottom: 20px;
}

.event_charge{
  margin-bottom: 20px;
}

.like_space{
  display: flex;
  margin-bottom: 15px;
  margin-left: 6px;
}

.like_btn{
  margin: 3px;
  margin-left: 7px;
}

.like_count{
  font-size: 17px;
}

.space {
  width: 452px;
  height: 105px;
}

.event_show_footer{
  position: absolute;
  bottom: 0;
}

.comments{
  font-weight: bolder;
  margin-top: 10px;
}

.show-form{
  display: flex;
  margin-top: 15px;
}

.comment-text{
  height: 35px;
  margin-right: 5px;
  
}

.comment-submit{
  height: 35px;
  padding-left: 10px;
  background-color: black;
  color: white;
  border-radius: 10px;
}
