.purchase-btn {
  width: 120px;
  background: #ff5100;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 13px;
  text-decoration: none;
}

.event-btn-text {
  color: #fff;
  display: block;
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 5px;
}

.purchase-btn-icon {
  width: 70%;
  height: 50%;
}
